.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 102, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 102, 0, 1) 0%,
    rgba(233, 194, 0, 1) 100%
  );
  border: 1px solid rgb(184, 11, 11);
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.cell.selected {
  background: rgb(156, 21, 6);
  background: linear-gradient(
    0deg,
    rgba(156, 21, 6, 1) 0%,
    rgba(255, 102, 89, 1) 100%
  );
}
