* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  max-width: 750px;
  width: 100%;
  margin: 4rem auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.controls__clear,
.controls__word {
  background-color: white;
}

.controls__clear {
  border: 0;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: rgb(132, 132, 132);
  justify-content: flex-end;
  width: 12rem;
}
.controls__clear .controls-icon {
  cursor: pointer;
  border-radius: 100%;
  display: flex;
  text-decoration: none;
  flex-shrink: 0;
  color: white;
  margin-left: 1rem;
  align-items: center;
  justify-content: center;
  background-color: rgb(187, 187, 187);
  width: 1.5rem;
  height: 1.5rem;
}

.controls__clear:hover .controls-text {
  text-decoration: underline;
  color: black;
}

.controls__clear:hover .controls-icon {
  background-color: rgb(155, 155, 155);
}

.controls__word {
  border: 1px solid rgb(152, 152, 152);
  height: 2rem;
  font-weight: bold;
  font-size: 1.25rem;
  color: rgb(12, 171, 12);
  padding: 0.25rem;
  letter-spacing: 0.25rem;
  line-height: 1;
  min-width: 16rem;
}
